{
  "root": true,
  "env": {
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "@react-native",
    "prettier"
  ],
  "ignorePatterns": [
    "babel.config.js",
    "coverage"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-imports": "error",
    "react/react-in-jsx-scope": "off"
  }
}
